/*
 * Style tweaks
 * --------------------------------------------------
 */
html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
  background: url("") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}
body {
  padding-top: 70px;
}
footer {
  padding: 30px 0;
}

.firstLetter{
  float       : left;
  font-size   : 4.2em;
  line-height : 0.5;
  margin      : 0.5em 0.05em 0 0;
}

.firstLetter + span{
  margin-left : -0.5em;
  font-weight: 200;
  font-size: 1.8em;
}

#contact {
  float: right;
  margin-top: 5px;
  margin-right: -3px;
}


#contact img {
  width: 40px;
  margin: 10px 5px;
}

.jumbotron {
  border-bottom: 2px solid #777;
}

#footer_contact {
  display: none;
}

/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 1024px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
         -o-transition: all .25s ease-out;
            transition: all .25s ease-out;
  }

  .row-offcanvas-right {
    right: 0;
  }

  .row-offcanvas-left {
    left: 0;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -50%; /* 6 columns */
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -50%; /* 6 columns */
  }

  .row-offcanvas-right.active {
    right: 50%; /* 6 columns */
  }

  .row-offcanvas-left.active {
    left: 50%; /* 6 columns */
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 33%; /* 6 columns */
  }

  img {
    vertical-align: middle;
    max-width: 219px;
    margin-bottom: 20px;
  }

  .jumbotron p {
    margin-top: 30px;
    margin-bottom: 15px;
    margin-right: 20px;
    font-size: 18px;
    font-weight: 200;
    padding-top: 2px;
    width: 900px;
  }

  .firstLetter{
    float       : left;
    font-size   : 18px;
    margin-top: 10px;
    display: none;
  }

  .firstLetter + span{
    margin-left : -0.5em;
    font-weight: 200;
    font-size: 18px;
  }

  #contact {
    float: right;
    margin-top: 5px;
    margin-right: -3px;
  }

  .jumbotron {
    height: 220px;
    padding-bottom: 0;
  }

  .img-rounded {
    margin-bottom: 5px;
  }

  #lower {
    display: visible;
  }

  #footer_contact {
    display: inline;
    margin-left: 20px;
  }

  #footer_contact img {
    width: 40px;
    margin: 10px 5px;
  }

  #contact {
    display: none;
  }
}

@media screen and (max-width: 768px) {

  .jumbotron p {
    margin-top: 30px;
    margin-bottom: 15px;
    margin-right: 20px;
    font-size: 18px;
    font-weight: 200;
    padding-top: 2px;
    width: 700px;
  }

  .jumbotron {
    height: 260px;
  }

  .img-thumbnail {
    height: 141px;
  }

@media screen and (max-width: 640px) {

  .jumbotron {
    margin-top: 0;
    height: 280px;
  }

  .jumbotron p {
    margin-top: 0;
    width: 550px;
    font-size: 17px;
  }

  .img-rounded {
    height: 130px;
    width: 130px !important;
  }
