/*
 * Style tweaks
 * --------------------------------------------------
 */
html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
  background: url("") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}

.jumbotron p {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  padding-top: 70px;
}

footer {
  padding: 30px 0;
}

.firstLetter{
  float       : left;
  font-size   : 4.2em;
  line-height : 0.5;
  margin      : 0.5em 0.05em 0 0;
}

.firstLetter + span {
  margin-left : -0.5em;
  font-weight: 200;
  font-size: 1.8em;
}

#smallLetter {
  display: none;
}

#contact {
  float: right;
  margin-top: 5px;
  margin-right: -3px;
}


#contact img {
  width: 40px;
  margin: 10px 5px;
}

.jumbotron {
  border-bottom: 2px solid #777;
}

#footer_contact {
  display: none;
}

.img-rounded {
  width: 18.9%;
}

#Hi {
  width: 100%;
}
/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 1035px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
         -o-transition: all .25s ease-out;
            transition: all .25s ease-out;
  }

  .row-offcanvas-right {
    right: 0;
  }

  .row-offcanvas-left {
    left: 0;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -50%; /* 6 columns */
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -50%; /* 6 columns */
  }

  .row-offcanvas-right.active {
    right: 50%; /* 6 columns */
  }

  .row-offcanvas-left.active {
    left: 50%; /* 6 columns */
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 33%; /* 6 columns */
  }

  img {
    vertical-align: middle;
    max-width: 219px;
    margin-bottom: 20px;
  }

  .jumbotron p {
    margin-top: 30px;
    margin-bottom: 15px;
    margin-right: 20px;
    font-size: 18px;
    font-weight: 200;
    padding-top: 2px;
    width: 900px;
  }

  .firstLetter {
    display: none;
  }

  .firstLetter + span {
    font-weight: 200;
    font-size: 18px;
  }

  #contact {
    float: right;
    margin-top: 5px;
    margin-right: -3px;
  }

  .jumbotron {
    height: 220px;
    padding-bottom: 0;
  }

  .img-rounded {
    margin-bottom: 5px;
  }

  #lower {
    display: visible;
  }

  #footer_contact {
    display: inline;
    margin-left: 20px;
  }

  #footer_contact img {
    width: 40px;
    margin: 10px 5px;
  }

  #contact {
    display: none;
  }

  #smallLetter {
    display: inline;
  }
}

@media screen and (max-width: 990px) {


  body {
    font-size: 1.2em;
    font-weight: 400;
  }
  .jumbotron img {
    height: 220px !important;
    width: 30%;
  }

  #Hi {
    margin-top: 30px;
    margin-bottom: 15px;
    margin-right: 20px;
    padding-top: 2px;
    width: 100%;
  }

  .row img {
    width: 100%;
    height: auto;
  }

  .jumbotron {
    padding-bottom: 30px;
    height: 280px;
  }

@media screen and (max-width: 790px) {

  body {
    font-size: 1.5em
  }

  .jumbotron p {
    font-size: 1.2em;
    font-weight: 300;
  }

  #Hi {
    margin-top: 0;
    margin-bottom: 15px;
    margin-right: 20px;
    font-weight: 200;
    padding-top: 2px;
    width: 100%;
  }

  .jumbotron {
    height: 10%;
    padding-top: 0;
    padding-bottom: 10px;
  }

  .img-thumbnail {
    height: 141px;
  }
}

@media screen and (max-width: 710px) {

  body {
    font-weight: 300;
  }

  .jumbotron img {
    float: none;
    margin: 0 auto;
  }

  .jumbotron {
    margin-top: 0;
    padding: 0 auto;
    height: 240px;
    border: none;
    align-items: auto;
    margin-bottom: 0;
  }

  .img-rounded {
    display: block;
    margin: auto;
    width: 100%;
    margin: 0 200px;
  }

  #Hi {
    position: absolute;
    top: 240px;
    display: block;
    margin-top: 0;
    font-size: 1.1em;
    width: 92%;
  }

  #three {
    position: relative;
    top: 180px;
  }
}

@media screen and (max-width: 480px) {

  .row {
    margin-top: 30px;
  }

  #two {
    margin-top: 170px;
  }

  #foot {
    display: block;
  }

  footer {
    padding-top: 0;
  }